@import "./variables.scss";

.content {

  .profile-header {
    text-align: center;
    margin-top: 30px;
    .prof-header-description {
      margin: auto;
      width: 480px;
      @include mq('md') {
        font-size: 14px;
        width: 300px;
      }

      .prof-name {
        padding-bottom: 5px;
        font-size: 24px;
      }

      .prof-description {
        padding-top: 10px;
        border-top: solid 1px #ddd;
      }
    }

    p {
      margin: 0 10%;
      text-align: left;
    }

    img {
      width: 240px;
      border-radius: 80px;
    }
  }

  .prof-rows {
    margin: 50px 120px;
    @include mq('lg') {
      margin: 50px 20px;
    }
    .prof-row {

      .prof-title {
        padding-left: 15px;
        padding-bottom: 10px;
        border-bottom: solid 1px #ddd;
        border-left: solid 3px #ddd;
      }

      .prof-contents {
        display: flex;
        height: auto;
        margin: 20px;
        @include mq('lg') {
          display: block;
          text-align: center;
        }

        img {
          width: 400px;
          height: 400px;
          border-radius: 40px;
          opacity: 0.7;
          align-self: start;
          @include mq('md') {
            width: 240px;
            height: 240px;
          }
        }
        // Work
        .prof-content {
          text-align: center;

          p {
            margin: 0 20px;
            text-align: left;
            @include mq('md') {
              margin: 0;
            }

          }

          span {
            display: inline-block;
            color: white;
            margin: 5px;
            padding: 10px;
            background-color: #123456;
            border-radius: 5px;
            font-size: 12px;
          }
          .prof-skillset {
            margin: 0px 30px;
            @include mq('md') {
              margin: 0;
            }
            h3 {
              display: inline-block;
              margin: 10px 0;
              padding: 5px;
              border-bottom: solid 1px #ddd;
            }
            h4 {
              padding: 0 15px;
              text-align: left;
            }
            display: inline-block;
            text-align: left;

            .prof-skillset-box {
              padding: 0 15px;
            }
          }
          .prof-about-description{
            margin: 20px 30px;
            @include mq('md') {
              margin: 20px 0;
            }
            .prof_button{
             display: inline-block;
             margin: 10px;
             padding: 10px 20px;
             border-radius: 30px;
             background-color:  #555;
             transition-duration:0.2s;
             &:hover{
               background-color: #3e854b;

             }
            }
            // .cooking_button{
            //   display: inline-block;
            //   margin: 10px;
            //   padding: 10px 20px;
            //   border-radius: 30px;
            //   background-color:  #555;
            //   transition-duration:0.2s;
            //   &:hover{
            //     background-color: #3e854b;
            //   }
            // }
            .cook-description{
              margin: 80px;
              @include mq('md') {
                margin: 20px 0px;
              }
            }
            .fa-instagram{
              margin-right: 5px;
            }
            .opera-description{
              margin: 80px;
              @include mq('md') {
                margin: 20px 0px;
              }
            }
          }
        }
      }
    }
  }
}
