
h1 {
  margin: 50px auto;
  @include mq() {
    margin: 10px auto;
  }
}
.work-rows {
  margin: 50px;
  @include mq('md') {
    margin: 0;
    padding: 0 10px;
  }

  .work-row {
    margin: 20px 0;
    @include mq('lg') {
      margin: 0px 20px;
    }
    .work-title {
      border-bottom: solid 1px #ddd;
      @include mq('lg') {
        font-size: 20px;
      }
    }

    .work-content {
      display: flex;

      @include mq('lg') {
        display: block;
      }

      text-align: center;
      img {
        margin: 20px 0;
        width: 360px;
        height: 360px;
        border-radius: 40px;
        opacity: 0.9;
        @include mq('md') {
          width: 240px;
          height: 240px;
        }
      }

      .work-description {
        margin: 0 50px;
        @include mq('lg') {
          margin: 0 15px;
        }

        .work-detail {
          margin: 20px 0;
          text-align: left;

          h3 {
            display: inline-block;

            border-bottom: solid 1px #ddd;
          }



          p {
            margin: 10px 0;
            @include mq('md') {
              font-size: 14px;
            }

          }
        }
        .work-lang {
          span {
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 5px;
            padding: 10px;
            background-color: #123456;
            border-radius: 5px;
          }
        }
        .work-about {
          margin: 20px 0;
          a {
            color: #FFA500;
          }

        }
        .work-func {
          span {
            display: inline-block;

            margin-bottom: 5px;
            padding: 10px;
            background-color: #123456;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
