@import "./profile.scss";
@import "./reset.scss";
@import "./top.scss";
@import "./variables.scss";
@import "./work.scss";

body {
  background-color: #222;
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
}

h2, h3, h4{
  color: white;
}

p {
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.container {

}

header {
  display: flex;
  margin: 0 5%;
  @include mq() {
    text-align: left;
  }

  h1{
    margin: 0;
    @include mq() {
      margin: 33px 0;
      font-size: 24px;
    }
  }
  a {
    margin-right: auto;
    @include mq() {
        margin: 0;
    }
  }
  #top-logo {
    width: 100%;
    margin: 20px 10%;

    z-index: 0;
    @include mq() {
        margin: 20px 0;
    }

    path {
      fill: none;
      animation: fadeIn 0.2s ease-in forwards;
      -webkit-animation: fadeIn 0.2s ease-in forwards;
      @keyframes fadeIn {
          0% {fill:transparent}
          100% {fill: #ddd}
      }


    }
  }


  ul {
    @include mq() {
      display: none;
    }
  }

  li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 10px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #555;
  }


  .humburger-menu{
    display: none;
    @include mq() {
      display: block;

    }

  }

}

footer {
  background-color: #111;
  margin: auto;
  .contact {
    text-align: center;
    padding-bottom: 100px;

    h2 {
      border-bottom: solid 1px #444;
      margin: auto;
      padding: 20px 0;
      width: 400px;
      @include mq() {
        width: 200px;
      }
    }
    .contact-sns{
      margin: 30px;
      a {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: #333;
        @include mq() {
          font-size: 10px;
        }
      }
      .fab {
        margin-right: 5px;
      }
    }
  }
}
